@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Righteous", sans-serif;
    background-color: rgb(255, 255, 255);
    color: #ffffff; /* Ensure text is readable */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c0404;
    padding: 30px;
    margin:0 5px 0 5px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 95%;
    z-index: 999; 
}

.navbar-brand {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar-links {
    display: flex;
    gap: 1em;
    margin-right: 60px;
}

.navbar .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar .nav-link:hover {
    color: #ddd;
}

.section-title {
    font-size: 2em;
    color: #ffffff;
    margin: 0;
    padding: 20px 0;
    position: absolute;
    top: 90px;
    left: 20px;
    font-family: "Righteous", sans-serif;
}

.container{
    margin: 0 5px 0 5px;
    background-color: rgb(12, 4, 4); 
    width: 99.5%;
    height: 590px;
    position: relative;
}

.container2{
    margin: 0 5px 0 5px;
    background-color: rgb(12, 4, 4); 
    width: 99.5%;
    height: 590px;
    position: relative;
    padding-top: 150px;
}

.container3{
    margin: 0 5px 0 5px;
    background-color: rgb(12, 4, 4); 
    width: 96.5%;
    height: 590px;
    position: relative;
}

.container4{
    margin: 0 5px 0 5px;
    background-color: rgb(12, 4, 4); 
    width: 99.5%;
    height: 590px;
    position: relative;
    padding-top: 50px;
    border-radius: 8px;
}

.container img {
    height: 230px;
    margin: 50px 0 0 550px;
    border-radius: 50%;
    border: 2px solid #ebe9e9;
    background-color: #ddd;
    transition: box-shadow 0.3s ease-in-out; /* Smooth transition */
}

.container img:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.671); /* Initial glow effect on hover */
    animation: glow 2s infinite alternate; /* Animation for glowing effect on hover */
}

@keyframes glow {
    0% {
        box-shadow: 0 0 20px rgba(239, 237, 237, 0.638);
    }
    100% {
        box-shadow: 0 0 40px rgba(236, 236, 236, 0.7);
    }
}

.typing-text {
    text-align: center;
    font-size: 1.5em;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 20px;
}

.typing-text #typing {
    border-right: 0.1em solid #fff;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.social-icons {
    text-align: center;
    margin-top: 90px;
}

.social-icons .social-icon {
    color: white;
    font-size: 2em;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons .social-icon.facebook:hover {
    color: #3b5998; 
}

.social-icons .social-icon.twitter:hover {
    color: #1DA1F2; 
}

.social-icons .social-icon.instagram:hover {
    color: #E1306C; 
}

.social-icons .social-icon.linkedin:hover {
    color: #0077b5; 
}

.social-icons .social-icon.github:hover {
    color: #333; 
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.gallery-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.1);
}

/* Modal CSS */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    color: #ccc;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.info-section {
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-image {
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 150px;
    margin-top: -110px;
}

.info-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-left: 100px;
    margin-top: -150px;
}

.info-text {
    margin-bottom: 20px;
}

.info-text p {
    margin: 0;
    font-size: 16px;
    color: #ffffffdc;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

.container3 {
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 50px;
}

.col-sm-6 {
    width: 48%;
}

.skills {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.skills .title {
    font-size: 1.5em;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
    position: relative;
}

.skills .skill-item {
    margin-bottom: 20px;
}

.skills .skill-item p {
    margin: 0;
    font-size: 1em;
    color: #ffffff;
}

.skills .progress {
    background-color: #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
}

.skills .progress-bar {
    height: 20px;
    border-radius: 20px;
    transition: width 1s ease-in-out;
}

/* Different colors for progress bars */
.bg-primary {
    background-color: #007bff;
}

.bg-warning {
    background-color: #ffc107;
}

.bg-danger {
    background-color: #dc3545;
}

.bg-orange {
    background-color: #fe7700;
}

.bg-green {
    background-color: #03f510;
}

/* Animation for progress bars */
@keyframes fillProgressBar {
    from {
        width: 0;
    }
    to {
        width: var(--progress-value);
    }
}

.progress-bar {
    width: 0;
}

.animate .progress-bar {
    animation: fillProgressBar 2s forwards;
}
.gear-container {
    position: relative;
    width: 200px;
    height: 200px; 
    margin: 0 auto;
    border: 1px solid #fff;
}

.gear {
    font-size: 100px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: transform 0.3s ease;
}

.gear1 {
    transform: translate(-80%, -50%);
}

.gear2 {
    transform: translate(-20%, 20%); 
}

@keyframes spin {
    0% {
        transform: translate(-80%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-80%, -50%) rotate(360deg);
    }
}

@keyframes spin-reverse {
    0% {
        transform: translate(-20%, 20%) rotate(0deg);
    }
    100% {
        transform: translate(-20%, 20%) rotate(-360deg);
    }
}

.skills:hover .gear1 {
    animation: spin 2s infinite linear;
}

.skills:hover .gear2 {
    animation: spin-reverse 2s infinite linear;
}
.container4 {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #473f3fe1; 
    border: 1px solid grey; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    margin: 20px;
    width: 200px;
    height: 300px; 
    transition: box-shadow 0.3s ease; 
    margin-top: 160px;
}

.card:hover {
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.611), 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-inner {
    text-align: center;
    margin-top: 10px;
}

.card img {
    width: 100px; /* Example image width */
    height: 100px; /* Example image height */
    border-radius: 50%; /* Round the corners */
}
.card p {
    margin-top: 10px; 
}

#Contacts {
    padding: 20px;
    background-color: rgb(12, 4, 4); 
    display: flex;
    align-items: center; 
    margin: 0 5px 0 5px;
    width: 96.5%;
    height: 590px;
    position: relative;
    border-radius: 8px;
    
}
.container5 {
    width: 100%;
    padding: 20px; /* Adjust padding as needed */
    background-color: rgb(12, 4, 4); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

input[type="text" i] {
    padding-block: 10px;
    padding-inline: 2px;
    border-radius: 8px;
    margin-bottom: 10px;
}

input[type="email" i] {
    padding-block: 10px;
    padding-inline: 2px;
    border-radius: 8px;
    margin-bottom: 10px;
}

textarea {
    padding-block: 10px;
    padding-inline: 5px;
    border-radius: 8px;
}

button{
    padding-block: 10px;
    padding-inline: 30px;
    border-radius: 8px;
}
h2{
    margin-top: -20px;
}
.contact-form {
    flex: 1;
    padding-right: 20px; /* Adjust spacing between columns */
}

.additional-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column {
    margin-bottom: 20px; /* Adjust spacing between columns */
}

.additional-info h3 {
    margin-top: 0; /* Remove default margin */
}

.additional-info ul {
    list-style: none;
    padding: 0;
}

.additional-info ul li {
    margin-bottom: 10px; /* Adjust spacing between social media links */
}

.additional-info ul li a {
    text-decoration: none;
    color: #ffffffba; /* Example color */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .container5 {
        flex-direction: column;
    }
    .contact-form,
    .additional-info {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px; /* Adjust spacing between sections */
    }
    .column {
        margin-bottom: 10px; /* Adjust spacing between columns */
    }
}



footer {
    background-color: #0e0d0d; 
    color: #fff;
    text-align: center; 
    padding: 20px 0;  
    width: 99.5%; 
    bottom: 0; 
    margin: -5px 5px 0 5px;
}


footer p {
    margin: 5px 0;
    font-size: 9px;
}
